@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&family=Work+Sans:wght@400;500;600;700&display=swap');

*{
    margin: 0px;
    padding: 0px;
    font-family: 'Open Sans';

}
.primary-button{
    color: #FFF;
    font-size: 0.88rem;
    font-weight: 600;
    padding: 0.84rem;
    border-radius: 0.41rem;
    background: #FF900E;
    border: 0;
    margin-top: 0.8rem;
}

.primary-description{
    font-size: 0.711rem;
    color: #727272;
    font-weight: 400;
    margin-top: 0.8rem;
}

header{
    background: rgba(255, 144, 14, 0.10);
}
.nav-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 2.6rem;
   
}
ul{
    display: flex;
    gap: 2rem;
    margin-right: 12.5rem;
}

.nav-left h3{
    font-size: 2rem;
    color: #131313;
    font-weight: 700;
    margin-left: 11.875rem;
}
.nav-right li{
    list-style: none;
    font-size: 0.8rem;
    color: #424242;
   
}
.nav-right a{
    text-decoration: line-through;
    
}



.banner-container div{
    padding-top: 6.25rem;
    width: 45%;
    text-align: center;
    margin: auto;
}
.banner-title{
    color: #131313;
    font-size: 2.84rem;
    font-weight: 700;
}


.banner-image{
    height: 28.17rem;
    border-radius: 8px;
    background: url(<path-to-image>), lightgray 0px -85.401px / 100% 137.109% no-repeat;
    margin-left: 10.2rem;
    margin-top: 1.8rem;
    
    
}


.team-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4.2rem;
    margin-top: 50px;
}
.team-images{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.1rem;
}
.team-image{
    height: 15.2rem;
    width: 15.2rem;
    
}
.team-details{
    
    width: 30%;
    height: auto;
}
.team-title .ql{
    font-size: 2rem;
    font-weight: 500;
    color: #727272;
}
.team-title .oo{
    font-size: 2rem;
    font-weight: 700;
    color: #131313;
}
.team-title .f{
    color: #FF900E;
    font-size: 2rem;
    font-weight: 700;
}
.team-description{
    padding: 30px auto ;
}


.features-container{
   display: flex;
   align-items: center;
   gap: 3rem;
  padding: 4rem;
    
   
}

.feature-title{
    font-size: 2rem;
    font-weight: 700;
    color: #131313;
    margin-left: 1.875rem;
    border-left: 5px solid #FF900E; 
    padding-left:10px;
}
.feature-description{
    margin-left: 1.875rem;
}


.card{
    padding: 25px;
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
    margin-bottom: 14px;
    
}
.card-title{
    color: #131313;
    font-size: 0.88rem;
   font-weight: 600;

}
.features-image{
    height: 43.644rem;
    width: 31.47rem;
    border-radius: 8px;
    background: url(<path-to-image>), lightgray 50% / cover no-repeat;
}
.experience-container{
    border-radius: 8px;
    background: #FF900E;
    width: 25%;
    height: auto;
    text-align: center;
    padding: 1rem;
    position: relative;
    bottom: 3.5rem;
    left: -3rem;
    color: #FFF;
}

.facts-container{
    padding: 4rem;
}
.facts-title{
    font-size: 2rem;
    font-weight: 700;
    color: #131313;
}
.facts-container-card{
    display: flex;
    justify-content: space-around;
    margin-top: 2rem;
}
.facts-card{
    width: 18%;
    padding: 1.5rem 1rem;
    border-radius: 8px;
    border: 1px solid #FF900E;
    text-align: center;
}
.facts-image{
    height: 2rem;
    width: 2rem;
}
.facts-earn{
    font-size: 0.88rem;
    color: #727272;
    width: 600;
}










@media screen and (max-width: 576px) {
    .features-container,
    .nav-container{
        flex-direction: column;
    }
    .nav-left h3{
        margin-left: 5px;
        padding-bottom: 10px;
    }
    ul{
        margin-right: 10px;
        gap: 1rem;
    }
    .primary-button{
        margin-bottom: 7px;
    }
    .banner-container div{         
        width: 90%;
    }
    .banner-image{        
        margin: auto;
        width: 100%;
        height: 80%;
    }
    .team-container{
        flex-direction: column-reverse;
    }
    .team-images{
        grid-template-columns: 1fr;
        gap: 0.5rem;
    }
    
    .team-image{
        margin: auto;
        width: 100%;
        height: 80%;
    }
    .team-details{
        width: 80%;
        height: auto;
    }
    .facts-container div,
    .features-container div{
        width:100%;
        margin: auto; 
    }
    .features-image{
        margin: auto;
        width: 100%;
        height: 80%;
    }
    .facts-container-card{
       flex-direction:column; 
       gap: 20px;
    }
    
    
    
}





 @media screen and (min-width:577px) and (max-width:992px) {
    .features-container,
    .nav-container{
        flex-direction: column;
    }
    ul{
        margin-left: 10rem;
        gap: 1.8rem;
    }
    .nav-left h3{
        margin:auto;
        padding-bottom: 10px;
    }
    .primary-button{
        margin-bottom: 13px;
    }
    
    .banner-image{                     
        margin: auto;
        width: 100%;
        height: 90%;      
    }
    .team-container{
        flex-direction: column-reverse;
    }
    .team-details{
        width: 90%;
        height: auto;
    }
    
 
 }